<div
  class="w-full lg:w-auto flex flex-column justify-content-start align-items-center shadow-2"
  style="height: calc(100dvh - 104px)"
>
  <p-calendar
    [style]="{ width: '100%' }"
    [inputStyle]="{ width: '100%' }"
    [(ngModel)]="selectedDate"
    [showIcon]="true"
    [inline]="isPrimeNgCalendarInline"
    inputId="buttondisplay"
    (onSelect)="onDateSelect($event)"
    class="w-full"
  ></p-calendar>
  <full-calendar
    [options]="calendarOptions"
    class="relative w-full shadow-1 -z-1 calendar"
    #fullCalendar
  ></full-calendar>


  <!-- Schermata altri utenti -->
  <!-- <p-contextMenu id="cm" #cm [model]="items" /> -->

  @if(eventDetails) {
  <p-dialog
    header="Event details"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true"
  >
    <div>
      <h2 class="mb-0">Entry:</h2>
      <div class="mt-0 flex flex-column">
        <div class="m-0 flex justify-content-start align-items-center">
          <h2 class="m-0">Date: &nbsp;</h2>
          <h3 class="m-0">{{ eventDetails.start }}</h3>
        </div>
        <div class="m-0 flex justify-content-start align-items-center">
          <h2 class="m-0">Nfc Reader: &nbsp;</h2>
          <h3 class="m-0">{{ startTitle }}</h3>
        </div>
      </div>
      <h2 class="mb-0">Exit:</h2>
      <div class="mt-0 flex flex-column">
        <div class="m-0 flex justify-content-start align-items-center">
          <h2 class="m-0">Date: &nbsp;</h2>
          <h3 class="m-0">{{ eventDetails.end }}</h3>
        </div>
        <div class="m-0 flex justify-content-start align-items-center">
          <h2 class="m-0">Nfc Reader: &nbsp;</h2>
          <h3 class="m-0">{{ endtitle }}</h3>
        </div>
      </div>
    </div>
  </p-dialog>
  }
</div>
