<p-card>
  <p-tabView>
    <p-tabPanel header="Internal support">
      <form>
        <div class="p-fluid">
          <div class="p-field">
            <input
              id="name"
              type="text"
              pInputText
              formControlName="name"
              placeholder="Full Name"
              pTooltip="Enter your full name"
            />
          </div>

          <div class="p-field my-3">
            <input
              id="email"
              type="text"
              pInputText
              formControlName="email"
              placeholder="Email"
              pTooltip="Enter your email"
            />
          </div>

          <div class="p-field">
            <textarea
              id="description"
              pInputTextarea
              formControlName="description"
              rows="4"
              placeholder="Tell your problem"
              pTooltip="Describe the problem"
            ></textarea>
          </div>

          <div class="p-field mt-3">
            <button pButton type="submit" label="Invia" size="small"></button>
          </div>
        </div>
      </form>
    </p-tabPanel>
    <p-tabPanel header="Administrator support">
      <form>
        <div class="p-fluid">
          <div class="p-field">
            <input
              id="name"
              type="text"
              pInputText
              formControlName="name"
              placeholder="Full Name"
              pTooltip="Enter your full name"
            />
          </div>

          <div class="p-field my-3">
            <input
              id="email"
              type="text"
              pInputText
              formControlName="email"
              placeholder="Email"
              pTooltip="Enter your email"
            />
          </div>

          <div class="p-field">
            <textarea
              id="description"
              pInputTextarea
              formControlName="description"
              rows="4"
              placeholder="Tell your technical problem"
              pTooltip="Describe the problem"
            ></textarea>
          </div>

          <div class="p-field mt-3">
            <button pButton type="submit" label="Invia" size="small"></button>
          </div>
        </div>
      </form>
    </p-tabPanel>
  </p-tabView>
</p-card>
