@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.componente {
    position: relative;
    padding: 20px 5px 0 5px;
    min-height: calc(100dvh - 64px);
}

canvas {
    width: 100% !important;
    min-width: 320px;
    height: auto;
}

@media screen and (min-width: 1921px){
    body {
        padding: 0 15vw;
    }
}